:root {
  /* Colors */

  /*
  To preview the colors beside eachother feel free to use this link:
  https://coolors.co/3369ff-ffda47-ae3b76-0aebaf-ff7746-000000-0e121b-171b26-3d4451-ffffff
  */

  --neon-blue-clr: rgb(51, 105, 255);
  --mustard-clr: rgb(255, 218, 71);
  --magenta-haze-clr: rgb(174, 59, 118);
  --aquamarine-clr: rgb(10, 235, 175);
  --coral-clr: rgb(255, 119, 70);

  --black-clr: rgb(0, 0, 0);
  --rich-black-clr: rgb(14, 18, 27);
  --raisin-black-clr: rgb(23, 27, 38);
  --charcoal-clr: rgb(61, 68, 81);
  --white-clr: rgb(255, 255, 255);

  /* ... */
}

body {
  background-color: var(--rich-black-clr);
}

header.page-header {
  background-color: var(--neon-blue-clr);
}
